*,
*::before,
*::after {
  box-sizing: border-box;
}
body {
  margin: 0;
}
.list-unstyled {
  margin-block: 0;
  padding-left: 0;
  list-style: none;
}
img {
  display: block;
}
a {
  text-decoration-line: none;
}